DO \$\$ DECLARE r RECORD; BEGIN FOR r IN (SELECT constraint_name FROM information_schema.table_constraints WHERE table_schema = 'public' AND table_name = 'eod_reports' AND constraint_type = 'UNIQUE' AND constraint_name != 'eod_reports_employee_date_role_unique') LOOP EXECUTE 'ALTER TABLE public.eod_reports DROP CONSTRAINT ' || quote_ident(r.constraint_name); END LOOP; END \$\$;
